@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
}
:root {
  --fontMobileSmall: 1.5rem;
  --fontMobileMedium: 2rem;
  --fontMobileBig: 3rem;
}


.hours,
  .minutes,
  .seconds,
  .h2412,
  .isMorning {
    color: #000;
  }
.hours,
  .minutes,
  .seconds,
  .h2412,
  .isMorning {
    font-size: var(--fontMobileBig);
  }

.time div .dot {
  font-size: var(--fontMobileMedium);
  color: #ec0606;
}
.isMorning {
  display: block;
}
/* am pm button */
.h2412 {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  gap: 10px;
  z-index: 100;
}
.h24,
.h12 {
  font-size: var(--fontMobileSmall);
  background-color: transparent;
  border: 2px solid #000;
  padding: 10px 20px;
  color: #fff;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  border-radius: 10px;
}

.h24.active,
.h12.active {
  background-color: #f0f0f0;
  color: #333;
}

.am:hover,
.pm:hover {
  background-color: #fff;
  color: #333;
}



