* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* this is the main container of the hole webpage */
.container {
  display: flex;
  min-height: 100vh;
  width: auto;
  flex-wrap: wrap;
  flex-direction: column;
  margin: 10px;
  gap: 10px;
  background-color: #ecf0f1;
}
/* this content is for the profile and info */
.content1 {
  display: flex;
  flex:1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #bdc3c7;
}
/* under the profile content this is my picture */
.content1 img {
  display: flex;
  /* flex: 2; */
  height: 100px;
  width: 100px;
  border-radius: 50%;
  align-items: center;
}
/* under the profile content ths is my name as h2 and p is my ability */
.content1 h2,
.content1 p {
  display: flex;
  /* flex: 1; */
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  align-items: center;
  justify-content: center;
}
/* this is content2 carry the about page  */
.content2 {
  display: flex;
  flex: 1;
  flex-direction: column;
  background-color: #95a5a6;
}
/* h2 is under about page where just the title is written */
.content2 h2 {
  margin: 10px;
}
/* content3 carry my portfolio work that i done. it also carry both flex and grid nested*/
.content3 {
  display: flex;
  flex-wrap: wrap;
  flex: 7;
  background-color: #bdc3c7;

}
/* this is the grid start of the content 3 */
.content3_grid_part {
  display: grid;
  width: 100%;
  grid-template-rows: max-content auto;
}
.my_work {
  margin: 15px;
}
/* here the work under this div */
.items {
  display: grid;
  grid-template-columns: auto auto;
  gap: 7px;
  margin: 0 5px;
}
/* this is the work div */
.item {
  display: grid;
  justify-content: center;
  align-content: center;
  border-radius: 5px;
  background-color: #2c3e50;
  border-right:3px solid black;
  border-bottom: 3px solid black;
  color: white;
}
.item:hover {
  background-color: #34495e;
  cursor: pointer;
  transform: scale(1.05);
  transition: transform 0.2s ease;
}
/* footer as content4 */
.content4{
  display: flex;
  flex-wrap: wrap;
  
  flex:1;
  justify-content: center;
  align-items: center;
  background-color: #95a5a6;

}
@media (max-width: 600px) {
  .items {
      grid-template-columns: 1fr; /* Makes items stack vertically */
  }
}