* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header {
    background-color: #333;
    color: white;
    padding: 15px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.header_Container{
    display: flex;
    min-width: auto;
    min-height: auto;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 10px;
    text-align: center;
}
.header_Container h1{
    margin: 0 20px;
    /* flex-grow: 1; */
}
nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    gap: 10px;
    flex-wrap: wrap;
}
nav ul li{
    margin: 0 10px;
}
nav ul li a{
    color: white;
    text-decoration: none;
    padding: 5px 10px;
    transition: color 0.3s ease;
}
nav ul li a:hover {
    color: #a8dadc; /* Hover effect color change */
}