* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.header_content {
  display: flex;
  justify-content: flex-start;
  gap: 20px;
  padding: 20px;
  background-color: rgba(255, 0, 0, 0.804);
  color: #fff;
  font-size: 1.5rem;
  font-family: Arial, Helvetica, sans-serif;
}
.header_content img,h2{
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* item show here in a grid formate */
.navigation_bar {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
  margin: 15px 10px;
  gap: 10px;
}
/* box shadow and animation scale added */
.nav_item {
  display: grid;
  grid-template-rows: auto auto;
  align-content: center;
  justify-content: center;
  gap: 5px;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition: transform 1s;
}
.nav_item:hover{
    transform: scale(1.1);
}
.nav_item img {
    margin: 5px;
    /* padding: 5px; */
    max-width: 64px;
    max-height: 64px;
    align-content: center;
    justify-content: center;
}
.nav_item a{
    text-align: center;
    text-decoration: none;
    color: #000;
    cursor: pointer;
    transition: color 1.5s;
}
.nav_item a:hover{
    color: #0561c9;
}
/* slide bar for added latter as i do not start learning js*/
.slide {
    background-image: url("./img/img_lights_wide.jpg");
    background-size: cover;
    background-position: center;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
  }
  .middle_style{
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    box-shadow: 0 4px 8px 0 rgba(1, 1, 1, 1.2), 0 6px 20px 0 rgba(1, 1, 1, 1.19);
    transition: transform 1s;
}
/* add scale */
.middle_style:hover{
    transform: scale(1.2);
}
.middle_style h2,p{
    text-align: center;
}
.middle_style_Button button{
    margin-top: 30px;
    margin-bottom: 20px;
    padding: 10px;
    text-align: center;
    color: #fff;
    border-radius: 10px;
    background-color: #34495e;
    cursor: pointer;
    text-decoration: none;
    border-style: none;
    transition: background-color 1s;
}
.middle_style_Button button:hover{
    background-color: #0561c9;
    
}
/* lower part shop address map in table */
.link_text_area{
    text-align: center;
    padding: 10px;

}
.link_text_area a{
    text-decoration: none;
    color: #000;
    font-size: 1.2rem;
    transition: color 0.5s;
}
.link_text_area a:hover{
    color: #0561c9;
}
/* address */
.grid_container{
    display: grid;
    grid-template-columns: auto auto;
    gap: 15px;
    padding: 5px 20px 30px 20px;
    margin-inline-end: 10px;
}
.grid_item{
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(1, 1, 1, 1.2), 0 6px 20px 0 rgba(1, 1, 1, 1.19);
    cursor: pointer;
}
.grid_item p:last-child{
    color: red;
}
/* map image */
.map_img{
    grid-column: 1/span 2;
    
}
.map_img{
    background-image: url("./img/shopno_footer.jpg");
    background-size: cover;
    background-position: center;
    margin-bottom: 20px;
    padding: 20px;
    /* width: 100%; */
    min-height: 200px;
    max-height: 200px;
}
/* responsive for mobile on the item */
@media (max-width:600px){
    .navigation_bar{
        grid-template-columns: auto auto auto;
    }

    .middle_style{
        scale: 0.9;
        
    }
    .middle_style:hover{
        transform: scale(1.2);
    }

}